<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirSec</title>
    <style> 
        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="logo">VirSec - Secretaria Virtual</h1>
            <h1 class="main-title">Cadastro de Alunos</h1>
            <p class="main-paragraph">Insire os dados para o cadastro</p>
        </div>
        <div class="container-form">
            <form action="">
                <h2 class="form-title">Dados Pessoais</h2>
                <div class="box-input">
                    <label for="name">Nome<span class="required-field">*</span></label>
                    <input type="text" class="block" name="name" id="name" placeholder="Digite o nome" required>
                    <label for="age">Idade<span class="required-field">*</span></label>
                    <input type="text" class="block" name="age" id="age" placeholder="Digite a idade" required>
                    <label for="adress">Endereço<span class="required-field">*</span></label>
                    <input type="text" class="block" name="adress" id="adress" placeholder="Digite o endereço" required>
                    <label for="cpf">CPF<span class="required-field">*</span></label>
                    <input type="text" class="block" name="cpf" id="cpf" placeholder="Digite o CPF" required>
                    <label for="family">Filiação 1<span class="required-field">*</span></label>
                    <input type="text" class="block" name="family" id="family" placeholder="Digite o nome do Pai" required>
                    <label for="family">Filiação 2<span class="required-field">*</span></label>
                    <input type="text" class="block" name="family" id="family" placeholder="Digite o nome da Mãe" required>

                </div>
                <div class="box-input">
                    <p>Ano de Escolaridade<span class="required-field">*</span></p>
                    <input type="radio" id="third-year" name="year-school">
                    <label for="year-school">3º Ano</label>
                    <input type="radio" id="fourth-year" name="year-school">
                    <label for="year-school">4º Ano</label>
                    <input type="radio" id="fifth-year" name="year-school">
                    <label for="year-school">5º Ano</label>
                </div>
                <div class="box-input">

                </div>
                
                <!-- <label for="year-school">Ano de escolaridade<span class="required-field">*</span></label>
                <input type="text" class="block" name="name" id="name" placeholder="Digite o nome" required> -->
            </form>
        </div>
    </div>
</body>
</html>