<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirSec</title>
    <style> 
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Times New Roman';
        }

        h1,
        h2,
        h3 {
          color: #333;  
        }

        p, label {
           color: #3f3f3f;
        }

        input {
            border: none;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

        input[type="text"],
        input[type="number"],
        input[type="date"],
        input[type="email"],
        textarea {
            width: 400px;
        }
        
        .block {
            display: block;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="logo">VirSec - Secretaria Virtual</h1>
            <h1 class="main-title">Cadastro de Alunos</h1>
            <p class="main-paragraph">Insire os dados para o cadastro</p>
        </div>
        <div class="container-form">
            <form action="">
                <h2 class="form-title">Dados Pessoais</h2>
                <div class="box-input">
                            <label for="name">Nome<span class="required-field">*</span></label>
                            <input type="text" class="block" name="name" id="name" placeholder="Digite o nome" required>
                        </div>
                        <div class="box-input">
                            <label for="age">Idade<span class="required-field">*</span></label>
                            <input type="text" class="block" name="age" id="age" placeholder="Digite a idade" required>
                        </div>
                        <div class="box-input">
                            <label for="email">Email<span class="required-field">*</span></label>
                            <input type="email" class="block" name="email" id="email" placeholder="Digite o E-mail" required>
                        </div>
                        <div class="box-input">
                            <label for="adress">Endereço<span class="required-field">*</span></label>
                            <input type="text" class="block" name="adress" id="adress" placeholder="Digite o endereço" required>
                        </div>
                        <div class="box-input">
                            <label for="cpf">CPF<span class="required-field">*</span></label>
                            <input type="text" class="block" name="cpf" id="cpf" placeholder="Digite o CPF" required>
                        </div>
                        <div class="box-input">
                            <label for="family">Filiação 1<span class="required-field">*</span></label>
                            <input type="text" class="block" name="family" id="family" placeholder="Digite o nome do Pai" required>
                        </div>
                        <div class="box-input">
                            <label for="family">Filiação 2<span class="required-field">*</span></label>
                            <input type="text" class="block" name="family" id="family" placeholder="Digite o nome da Mãe" required>
                        </div>
                        <div class="box-input">
                            <label for="class">Turma<span class="required-field">*</span></label>
                            <input type="text" class="block" name="class" id="class" placeholder="Turma do Aluno" required>
                        </div>
                        <div class="box-input">
                            <p>Ano de Escolaridade<span class="required-field">*</span></p>
                            <input type="radio" id="third-year" name="year-school">
                            <label for="year-school">3º Ano</label>
                            <input type="radio" id="fourth-year" name="year-school">
                            <label for="year-school">4º Ano</label>
                            <input type="radio" id="fifth-year" name="year-school">
                            <label for="year-school">5º Ano</label>
                        </div>
            </form>
        </div>        

                
                <!-- <label for="year-school">Ano de escolaridade<span class="required-field">*</span></label>
                <input type="text" class="block" name="name" id="name" placeholder="Digite o nome" required> -->
            </form>
        </div>
    </div>
</body>
</html>