<!-- ATENÇÃO Yago gay que vai fazer o front-end  -->
<!-- Esse html é a página principal do site -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="VirSec\static\css\main.css">
    <title>Document</title>
</head>

<header>
    <h1>VirSec - Secretaria Virtual</h1>
</header>

<body>
    <main>
        <h2>Bem-vindo à Secretaria Virtual</h2>
    </main>
</body>

</html>