<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>VirSec</title>
</head>
<body>
    <div class="container">
        <h2 class="form-title">Bem vindo à Secretaria Virtual</h2>
        <div class="form-container">
            <form>
                <div class="form-body">
                    <label for="login">Login<span class="required-field">*</span></label>
                    <input type="text" class="block" name="login" id="login" placeholder="Digite seu CPF" required>
                    <label for="password">Senha<span class="required-field">*</span></label>
                    <input type="password" class="block" name="password" id="password" placeholder="Digite sua senha" required>
                    <a href="#">Esqueceu a senha?</a>
                    <br>
                    <br>
                    <button class="btn-entrar"><a href="home.html">Entrar</a></button> 
                    <br>
                </div>
            </form>
        </div>
    </div>
</body>
</html>